*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: rgb(0, 0, 0);
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.counter{
    display: flex;
    
}
.counter>p{
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    
}
.counter >p>span{
    display: block;
    font-size: 2rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 80px;
    color: crimson;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

.footerSpan {
    color: white;
    font-size: 2rem;
}